body {
  list-style-type: none;
  font-family: "roboto", "raleway", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
}
.logo {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
a {
  text-decoration: none;
  color: #2e2f42;
  font-style: normal;
}
li {
  list-style-type: none;
}

a:focus,
a:hover {
  color: goldenrod;
}
button {
  background-color: #4d5ae5;
  cursor: pointer;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
button:focus,
button:hover {
  background-color: goldenrod;
}
header {
  width: 1440px;
  background-color: #e7e9fc;
  line-height: 24px;
}
.our-motto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 1440px;
  height: 600px;
  background-color: #2e2f42;
  color: #ffffff;
}
.motto {
  word-wrap: break-word;
  max-width: 496px;
}
.button-under-motto {
  border-radius: 4px;
  border: 0;
  padding: 16px 32px;
  gap: 10px;
}
.our-team {
  background-color: #f4f4fd;
}
.person-in-team {
  background-color: white;
}
footer {
  background-color: #2e2f42;
  color: #ffffff;
}
.first-part-of-logo-up {
  color: #4d5ae5;
}
.second-part-of-logo-up {
  color: #2e2f42;
}
.first-part-of-logo-down {
  color: #4d5ae5;
}
.second-part-of-logo-down {
  color: #f4f4fd;
}
.nav-header {
  display: flex;
  gap: 40px;
  font-weight: 500;
}
h1 {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: solid;
}
h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.address-contanct ul {
  display: flex;
  gap: 15px;
}
.list-our-guarantee {
  display: flex;
  justify-content: space-between;
  width: 1128px;
  height: 104px;
}
