body {
  font-family: "roboto", "raleway", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
  width: 1440px;
}
.logo {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
a {
  text-decoration: none;
  color: #2e2f42;
  font-style: normal;
}

a:focus,
a:hover {
  color: goldenrod;
}
button {
  background-color: #4d5ae5;
  cursor: pointer;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
button:focus,
button:hover {
  background-color: goldenrod;
}
header {
  background-color: #e7e9fc;
  line-height: 24px;
}
.our-motto {
  background-color: #2e2f42;
  color: #ffffff;
}
.our-team {
  background-color: #f4f4fd;
}
.person-in-team {
  background-color: white;
}
footer {
  background-color: #2e2f42;
  color: #ffffff;
}
.first-part-of-logo-up {
  color: #4d5ae5;
}
.second-part-of-logo-up {
  color: #2e2f42;
}
.first-part-of-logo-down {
  color: #4d5ae5;
}
.second-part-of-logo-down {
  color: #f4f4fd;
}
.nav-header {
  font-weight: 500;
}
h1 {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: solid;
}
h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}
ul {
  list-style: none;
}
.header {
  display: flex;
  gap: 24px;
  height: 72px;
  justify-content: space-around;
  align-items: center;
}
.nav-header {
  display: flex;
  gap: 24px;
}
.phone-mail {
  display: flex;
  gap: 24px;
}

.our-motto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}
.slogan {
  text-align: center;
  word-wrap: break-word;
  max-width: 496px;
  max-height: 120px;
}
.button-under-slogan {
  width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
}

.second-section .item-list {
  display: flex;
  justify-content: space-around;
  gap: 8px;
  width: 1125px;
  height: 104px;
  margin-top: 50px;
  margin-bottom: 150px;
}

.second-section .item-list .item {
  flex-basis: 264px;
}

.our-team {
  display: flex;
  flex-direction: column;
  height: 732px;
  align-items: center;
  justify-content: center;
}
.third-section {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.person-in-team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fourth-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.what-we-do {
  width: 360px;
  height: 420px;
}
.finish-website {
  height: 312px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.p-in-footer {
  flex-wrap: wrap;
  word-wrap: break-word;
  max-width: 264px;
  max-height: 112px;
}
.logo {
  padding-left: 156px;
}
.second-section .item-list {
  padding-left: 156px;
}
